{% load rest_framework %} 

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> 
</head>

<nav class="navbar">
  <span class="navbar-brand">Alpha Mini Message Editor</span>
</nav>

<div id="form-container" class="container">
  <div class="d-flex flex-column justify-content-center">
    <form class="form-horizontal m-auto" action="{% url 'message-detail' pk=message.pk %}" method="POST" >
      {% csrf_token %} 
      {% render_form serializer template_pack='rest_framework/horizontal' %}
      <div class="form-group" >
        <div class="col-sm-offset-2 col-sm-10">
          <input type="submit" value="Save" class="btn btn-primary"/>
        </div>
      </div>
    </form>
  </div>
</div>

<style>
body {
  background-color: lightgray; 
}
nav {
  background-color: black; 
  color: white;
}
div#form-container {
  /* background-color: orange;  */
  width: 75%; 
  height: 100%; 
}
input[type="submit"] {
  width: 10rem; 
}
/*
form {
  background-color: pink; 
}
*/
</style>