{% extends 'editor/base.html' %}
{% load rest_framework %} 

{% block welcome_user %} 
  <span class="navbar-text">Hello {{ request.user.username }}</span>
  <a class="nav-item nav-link navbar-text" href="{% url 'logout' %}" >LOGOUT</a> 
{% endblock %}

{% block form %}
<div id="form-container m-auto">
  <div class="d-flex flex-column">
    <form class="form-horizontal m-auto" action="{% url 'message-editor' %}" method="POST" >
      {% csrf_token %} 
      {% render_form serializer template_pack='rest_framework/horizontal' %}
      <div class="form-group" >
        <div class="col-sm-offset-2 col-sm-10">
          <input type="submit" value="Save" class="btn btn-primary"/>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
