body {
    background-color: lightgray; 
}

nav {
    background-color: black; 
    color: white;
}

div#form-container {
    /* background-color: orange;  */
    width: 75%; 
    height: 100%; 
}

input[type="submit"] {
    width: 10rem; 
}